.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: "Libre Franklin";
  background: white;
}

.title {
  text-align: center;
}


.title {
  text-align: center;
}

.section-title {
  margin-top: 30px;
}

.profile-image {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.interests-list {
  list-style: none;
  padding: 0;
  text-align: center;
  font-family: "Libre Franklin";
}

.project {
  margin-top: 30px;
}

.project h3 {
  margin-bottom: 10px;
}

.project p {
  margin-bottom: 5px;
}

.project ul {
  list-style: disc;
  margin-left: 20px;
}
